.task-list{
    height:70vh;
    overflow-y:auto;
}
.task-entry-cont{
    position:relative;
    z-index:1;
    background:rgba(65, 92, 79, 0.837);
    width:auto;
    margin:0.25rem;
    padding:0.25rem 1rem;
    min-height: 5rem;
    height: fit-content;

    display:flex;
    flex-direction:column;

    text-overflow: ellipsis;
    -webkit-line-clamp: 1; /* number of lines to show */
            line-clamp: 1; 
    -webkit-box-orient: vertical;
    &:hover{
        transition:all 0.3s;
    }
    
}
.task-header{
    color: rgb(255, 255, 255);
    margin: 0 auto;
    width:100%;
    text-align: center;
    border-bottom: 1px solid rgb(230, 229, 229);

    display:flex;
    justify-content: space-between;
}
.task-content{
    width:100%;
    margin: 0 auto;
    color:white;
    font-weight: 100;
}
.task-overlay{
    transition:all 0.1s;

    opacity: 0;
    position:absolute;
    top:0;
    left:0;
    z-index: 2;
    background:rgba(51, 72, 60, 0.837);
    padding:0.25rem 1rem;

    &:hover{
        transition:all 0.1s;
    
        opacity: 1.0;
    }
    &>button{
        height:50%;
        width:5rem;
        margin: 0px 0.5rem 0 0.5rem;
    }
}

.b-site-b{
    position: relative;
    z-index: 3;
}